{% extends 'base.html.twig' %}
{% block body %}
    <link rel="stylesheet" href="{{ asset('assets/css/postForm.css') }}">
    <div id="card">
        <form action="{{ path('app_new_post') }}" method="post" enctype="multipart/form-data">
            <label for="title">Titre : </label>
            <input type="text" name="title" id="title">
            <br>
            <label for="description">Description : </label>
            <textarea type="text" name="description" id="description"> </textarea>
            <br>
            <label for="plant">Plante : </label>
            <input type="text" name="plant" id="plant">
            <br>
            <label for="image">Photo : </label>
            <input type="file" name="img" id="image" accept=".jpg,.jpeg,.png">
            <br>
            {#<input type="text" placeholder="Plante" id="input_search">
        <div class="results">
            {% for plant in plants %}
                <a class="option">{{plant.label}}</a>
            {% endfor %}
        </div>#}
            <button type="submit">Envoyer</button>
        </form>
    </div>
{% endblock %}