{% block body %}
    <p>
        Conditions Générales d'Utilisation

        1.    Objet
        Les présentes Conditions Générales d'Utilisation (ci-après dénommées "CGU") ont pour objet de définir les modalités et conditions d'utilisation des services proposés sur le site (ci-après dénommé "Arosaje") ainsi que de définir les droits et obligations des parties dans ce cadre.
        Arosaje est destiné à mettre en relation les amateurs de plantes avec des botanistes professionnels pour obtenir des conseils et organiser des gardes de plantes entre utilisateurs.

        2.    Acceptation des CGU
        L'accès et l'utilisation de Arosaje impliquent l'acceptation sans réserve des présentes CGU par l'utilisateur.
        En cas de désaccord avec les termes des présentes CGU, l'utilisateur doit cesser immédiatement d'utiliser Arosaje.

        3.    Accès au Site
        L'accès a Arosaje est ouvert à toute personne majeure, disposant d'une adresse e-mail et d'une localisation.
        Les utilisateurs peuvent créer un compte personnel en fournissant les informations nécessaires à leur identification.
        L'accès aux services de Arosaje nécessite la création d'un compte.

        4.    Services proposés
        Arosaje permet aux utilisateurs de :
        •    Publier des demandes de conseils auprès de botanistes professionnels.
        •    Demander des gardes de plantes durant leurs absence auprès de botanistes ou d'autres utilisateurs.
        •    Discuter avec les demandeurs de garde et partager des photos de plantes lors de cette garde.
        5.    Responsabilité des utilisateurs
        Les utilisateurs s'engagent à utiliser Arosaje de manière responsable et à respecter les droits des autres utilisateurs et des botanistes professionnels.
        Ils s'engagent à ne pas publier de contenu illégal, diffamatoire, injurieux ou discriminatoire et à ne pas usurper l'identité d'autrui.

        6.    Responsabilité de l'éditeur de Arosaje
        L'éditeur de Arosaje met tout en œuvre pour assurer la disponibilité, la sécurité et le bon fonctionnement de Arosaje, mais ne peut être tenu responsable en cas de dysfonctionnement, d'interruption ou d'indisponibilité du service.

        7.    Propriété intellectuelle
        L'ensemble des contenus présents sur Arosaje (textes, images, vidéos, etc.) sont protégés par les droits de propriété intellectuelle en vigueur.
        Toute reproduction, représentation, modification, publication ou adaptation de tout ou partie des éléments de Arosaje est interdite sans l'autorisation préalable de l'éditeur de Arosaje.

        8.    Données personnelles
        L'éditeur de Arosaje s'engage à respecter la confidentialité et la protection des données personnelles des utilisateurs.
        Les données collectées ne seront utilisées que pour les besoins du service proposé et conformément à la réglementation en vigueur.
        Les utilisateurs disposent d'un droit d'accès, de rectification et de suppression de leurs données.

        9.    Modification des CGU
        L'éditeur de Arosaje se réserve le droit de modifier les présentes CGU à tout moment.
        Les modifications prendront effet dès leur publication sur le site.

        10.   Droit applicable et juridiction compétente
        Les présentes CGU sont régies par les lois françaises.
        Tout litige relatif à l'utilisation du site sera porté devant les tribunaux compétents.

        En utilisant ce site, vous acceptez les présentes CGU.
    </p>
{% endblock %}